/* Buttons */

.btn {
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: background 0.15s;
    margin-top: 8px;
}

.btn-primary {
    background: var(--sb-red);
    color: var(--sb-white);
}

.btn-primary:hover {
    background: var(--sb-red-dark);
}

.btn-secodary {
    background-color: var(--sb-white);
    color: var(--sb-red);
    border: 1px solid var(--sb-red);
}

.btn-secondary:hover {
    background: var(--sb-grey);
}

/* .btn-secondary {
    background: var(--grey-light);
    color: var(--dark);
    border: 1px solid var(--grey);
} */

/* Quick links */
.quick-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quick-link {
    display: block;
    padding: 10px 14px;
    background: var(--sb-grey-light);
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    color: var(--sb-dark);
    border-left: 3px solid var(--sb-yellow);
    transition: background 0.15s;
}

.quick-link:hover {
    background: var(--sb-grey);
}

/* Links */
.link-secondary {
    font-size: 12px;
    color: var(--sb-red);
}

.link-secondary:hover {
    text-decoration: underline;
}