.card {
    background-color: var(--sb-white);
    border-radius: var(--sb-radius-lg);
    border: 0.5px solid #E8E8E8;
    padding: O 14px;
}

.card-list__item {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 0.5px solid #f0f0f0;
}

.card-list__title {
    font-size: 1em;
    font-weight: 500;
    color: var(--sb-dark);
}

.card-list__description {
    font-size: 1em;
    color: var(--sb-gray);
}