{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block header %}
    <header class="header dashboard-header">
        <h2 class="dashboard-header_title">
            Joueurs
        </h2>
        <a class="dashboard-header_add" href="{{ path('player_new') }}">
            +
        </a>
    </header>
{% endblock %}

{% block body %}
    <main class="dashboard-main">
        <div class="">
            {# SEARCH AND FILTRES #}
        </div>
        <div>

        </div>
    </main>
{% endblock %}
{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}