{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block header %}
    {% include "layout/header/_dashboard_page_topbar.html.twig" with {
        title: 'Team',
        actionPath: path('team_new'),
        actionLabel: '+'
    } %}
{% endblock %}

{% block body %}
    <main class="dashboard-main">
        <section class="dashboard-card">
            {% if teams %}
                <ul class="card-list">

                    {% for team in teams %}

                        <li class="card-list__item">
                            <a class="card-list__link" href="{{ path('team_show', { 'id' : team.id }) }}">
                                <div>
                                    <h3 class="card-list__title">{{ team.name }}</h3>
                                    <p class="card-list__description"><span>{{ team.category.name }}</span></p>
                                </div>
                            </a>
                            {% include "partials/_delete.html.twig" with {
                                pathAction: path("team_delete", { id: team.id }),
                                id: team.id
                            } %}
                        </li>

                    {% endfor %}

                </ul>
            {% else %}
                <p class="empty-state">Aucun joueur enregistré - Commencé l'enregistrement</p>
            {% endif %}
        </section>    
    </main>
{% endblock %}

{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}