{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header %}
    <body class="auth-page">
        <div class="auth-card">
            <header class="header login-header">
                <div class="login-header_logo">
                    <img src="{{ asset('images/others/q.svg') }}" alt="">
                </div>
                <div class="login-header_text">
                    <h1 class="login-header_title">
                        Stade Bordelais
                    </h1>
                    <span class="login-header_description">
                        Football · Espace Coach
                    </span>
                </div>    
            </header>
{% endblock %}

{% block body %}
            <form method="post" class="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-header">
                    <h3 class="form-header_title">Connexion</h3>
                    <span class="form-header_description">Accès réservé aux membres du staff</span>
                </div>

                <div class="form-body">
                
                    <div class="form-body_group">
                        <label for="username" class="form-body_label">Email <span class="form-body_important">*</span></label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-body_input" autocomplete="email" required autofocus placeholder="j.pierre@example.com">
                    </div>

                    <div class="form-body_group">
                        <label for="password" class="form-body_label">Mot de passe <span class="form-body_important">*</span></label>
                        <input type="password" name="_password" id="password" class="form-body_input" autocomplete="current-password" required placeholder="******">        
                    </div>

                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <input type="checkbox" name="_remember_me" id="_remember_me">
                            <label for="_remember_me">Remember me</label>
                        </div>
                    #}

                </div>

                <button class="btn btn-principal" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </body>
{% endblock %}
