{% extends 'base.html.twig' %}

{% block title %}Modifier la sanction{% endblock %}

{% block header %}
<div class="player-create__wrapper">
    {% include "layout/header/_dashboard_page_topbar.html.twig" with {
        title: 'Modifier la sanction',
        backPath: path('sanction_show', {
            id: sanction.id,
        }),
        img: '✕'
    } %}
{% endblock %}
{% block body %}
    <main class="player-create">

        {% include "sanction/form/_form.html.twig" with {
            formName: formEditSanction,
            returnPath: path('sanction_show', {
                id: sanction.id
            }),
        } %}

    </main>
</div>
{% endblock %}
{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}