{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    <header class="header">
        <div>
            <div>
                <span>
                    Bonjour,
                </span>
                <h2>
                    NOM
                </h2>
            </div>
            <div>
                <div>
                    IN
                </div>
            </div>
        </div>
        <div>
            <div>
                SB
            </div>
            <div>
                <span>
                    Stade Bordelais Football
                </span>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    
{% endblock %}
{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}
