{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
    {% include "layout/header/_dashboard_home_header.html.twig" with {
        coachName: app.user.firstname ~ " " ~ app.user.lastname|upper,
        initials: (app.user.firstname|first ~ app.user.lastname|first)|upper,
    } %}
{% endblock %}

{% block body %}
    <main class="dashboard-main">
        {% include "dashboard/sections/heroHome.html.twig" %}
        {% include "dashboard/sections/planningHome.html.twig" %}
        {% include "dashboard/sections/playerHome.html.twig" %}
        {% include "dashboard/sections/teamHome.html.twig" %}
    </main>
{% endblock %}

{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}