{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include "layout/header/_dashboard_home_header.html.twig" with {
        coachName: 'Coach Martin',
        initials: 'CM'
    } %}
{% endblock %}

{% block body %}
    <main class="dashboard-main">
    
    </main>
{% endblock %}

{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}
